body {

    background-color: rgb(79, 6, 79) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    background-image: url("purplewave.gif");
}











button {
    border: transparent !important;
    outline: transparent !important;
    background-color: transparent !important;
}

.btn:active{

    background-color: transparent !important;
    border: transparent !important;
    outline: transparent !important;
}
.btn{
    border: transparent !important;
    outline: transparent !important;
    background-color: transparent !important;
}

.bgbtn{
    border: transparent !important;
    outline: transparent !important;
    background-color: transparent !important;
}








.navbar-custom {
    background-color: rgb(107, 4, 133);
}

.grid-container {
    display: grid;
    grid-template-columns: auto !important;
    
}

.grid-child {
    background: darkblue; 
    font-size: 15px; 
    padding: 10px; 
    border: 1px solid lightgray; 
    margin: 15px;
}

@media only screen and (min-width: 640px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        
    }
    .grid-child {
        background: darkblue; 
        font-size: 20px; 
        padding: 10px; 
        border: 1px solid lightgray; 
        margin: 100px;
    }
}


/* Set the text color for the chart title and axis labels */
#container .e-title-text,
#container .e-axis-labels text {
    fill: white !important; /* Change the text color to white */
}

/* Set the text color for the data labels */
#container .e-datalabel text {
    fill: white !important;  /* Change the text color to white */
}
