body {

    background-color: rgb(79, 6, 79) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    background-image: url("purplewave.gif");
}





.dropdown:hover .dropdown-menu {
    /* drop down hover from https://stackoverflow.com/questions/16214326/bootstrap-dropdown-with-hover */
    display: block;
    margin-top: 0;

}

.dropdown-item:focus,
.dropdown-item:hover {
    /* change color from https://mdbootstrap.com/support/general/navbar-dropdown-color-scheme-and-highlighted-items/ */
    background-color: darkred !important;
}





button {
    border: none !important;
}

.navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    
    background-color: #0F3E6B;
}

.navbar li a{
    color:#FFE882
}

.navbar li a:hover{
    color:#FD0401
}

.navbar-collapse {    
    display: flex !important;
    gap: 1em;
    font-size: 17px;
}

